* {
    font-family: 'Belleza', sans-serif;
}
body {
    background-image: url("../images/plaid.png");
    /* background-size: 45%; */
    background-repeat: repeat;
    /* background-position-x: center; */
    /* background-position-y: 20px; */
}

.jumbotron {
    padding-top: 30px;
    padding-bottom:30px;
    margin-bottom: 40px;
    
    
}

.row {
    margin-top: 30px;
}

#videoTagHtml {
    margin-left: 40px;
}

.card {
    background-color: #eeeeee;
    
}


